.about_text{
    transition: .5s;
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
}

.top_text{
    margin: 50px 0px 0px 0px;

    h2{
        color: #cdcdff;
        text-align: center;
        margin: 40px 0px 30px 0px;
        font-size: 30px;   
        font-weight: bold;
    }
    p{
        color: #cdcdff;
        text-align: center;
        font-size: 22px;
        margin: 0px 0px 70px 0px ;
    }
}

.section_title{
    h2{
        text-align: center;
        color: #cdcdff;
        margin: 40px 0px 30px 0px;
        font-size: 30px;
    }
}

.p_text{
    p{
        text-align: center;
        color: #cdcdff;
        font-size: 20px;
    }
}

.padd{
    h2{
        color: #cdcdff;
        text-align: center;
        margin: 40px 0px 30px 0px;
        font-size: 30px;
    }

    p{
        color: #cdcdff;
        text-align: center;  
        font-size: 20px;  
    }
}

#lan_text{
    text-align: center;
    color: #cdcdff;
    margin: 40px 0px 30px 0px;
}

.solid{
    width: 150px;
    height: 30px;   
}

.skill_info{
    margin: 0px 0px 30px 0px;
    

    h4{
        color:#cdcdff;
        font-size: 20px;
        margin: 0px 18rem;
    }
}

.skill_resul{
    width: 1000px;
    height: 900px;
    margin: 0 auto;
}

.skill_box{
    width: 270px;
    height: 250px;
    float: left;
    margin: 50px 0px 0px 50px;
}

.skill_box{
    span{
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 80px;

        color: #F16529;
        
    }

    #css{
        color: #33A9DC;
    }

    #react{
        color: #61DAFB;
    }

    #js{
        color: #F0DB4F;
    }

    #sass{
        color: #CB6699;
    }

    #java{
        color: #EA2D2E;
    }

    #csharp{
        color: #68217A;
    }

    #ts{
        color: #007ACC;
    }

    #unity{
        color: #4c5d70;
    }

    #github{
        color: #F03C2E;
    }

    h3{
        display: flex;
        justify-content: center;
        align-items: center;

        color: #cdcdff;
        margin: 14px 0;
    }

    h4{
        text-align: center;

        color: #cdcdff;

        margin: 30px 0px 0px 0px;
    }
}

.dot_controller{
    width: 350px;
    height: 50px;   
    margin: 0px 20rem;
}

.dot_bar{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.dot{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #cdcdff;
    border-radius: 50%;
    position: relative;
    
}

.dot_dark{
    width: 20px;
    height: 20px;
    background-color: #5b6caa;
    border-radius: 50%; 
}

@media screen and (max-width: 1100px) {
    .about_text{
        width: 550px;
        height: 1100px;
    }
    
    .skill_info{

        h4{
            margin: 0px 0rem;
        }
    }

    .dot_controller{
        width: 480px;
        float: left;
        margin: 25px 0;
    }

    .dot{
        margin: 0 0rem;
        padding: 2px;
    }

    .dot_dark{
        margin: 0;
        padding: 2px;
    }

    .skill_resul{
        width: 550px;
        height: 1350px; 
    }

    .skill_box{
        width: 250px;
        margin: 15px 0px 0px 15px;
    }

  }

@media screen and (max-width: 570px) {
    .top_text{
        p{
            text-align: relative;
            font-size: 19px;
        }
    }

    .skill_resul{
        width: 290px;
        height: 685px;
    }

    .skill_box{
        width: 100px;
        height: 100px;
        margin: 15px 0px 25px 30px;

        span{
            font-size: 60px;
        }

        a{
            font-size: 60px;
        }
        h3{
            font-size: 15.5px;
            margin: 9px 0;
        }
        h4{
            display: none;
        }
    }

    .about_text{
        width: 300px;
        height: 1100px;
    }

    .about_text{
        h2{
            color: #cdcdff;
            font-size: 30px;    
        }
        p{
            color: #cdcdff;
            margin: 10px 0px 20px 0px;
            text-align: left;
        }
    }

    .section_title{
        h2{
            font-size: 25px;
        }
    }

    .p_text{
        p{
            text-align: left;
            color: #cdcdff;
            font-size: 17px;
        }
    }

    .padd{

        h2{
            color: #cdcdff;
            font-size: 25px;
            margin: 40px 0px 30px 0px;
        }
    
        p{
            color: #cdcdff;
            text-align: left;
            font-size: 17px;
        }
    }

    .dot_controller{
        width: 250px;
        float: left;
        margin: 15px 30px;
    
    }

    .lan_ski{
        h2{
            font-size: 25px;
        }
    }

    .dot{
        padding: 3px;

        word-spacing: 10px;
    }

    .dot_dark{
        padding: 3px;   
    }

}

@media screen and (max-width: 290px) {
    .about_text{
        width: 250px;
        height: 1060px;
    }

    .skill_resul{
        width: 220px;
        height: 1350px; 
    }

    .skill_box{
        width: 220px;
        height: 220px;

        margin: 0px;

        h4{
            margin: 20px 0px 0px;
        }
    }
}