.about_name {
    color: #90a0d9;
}

.home{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 4rem;
    color: #cdcdff
}

.me_text{
    font-size: 1.5rem;
    color: rgba(205,205,255,255);
}

.aboute_text{
    font-size: 2.3rem;
    color: rgba(205,205,255,255);
}

.about_me{
    color: #cdcdff;

    font-size: 1.5rem;
}

//Social media
.social{
    cursor: pointer;
    ul{
        position: absolute;
        top: 66%;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        display: flex;
    }
    
    ul li{
        list-style: none;
        margin: 0 10px;
    }
}

.fa {
    font-size: 40px;
    line-height: 50px;
    transition: .5s;
    a{
        color: #000;
    }
}

.fa:hover {
    color: #ffffff;
}

.social ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cdcdff;
    text-align: center;
    line-height: 60px;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social ul li:nth-child(2) a:hover {
    background-color: #0077B5;
}

.social ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

/*Main menu buttons styles*/
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons a{
    display: inline-block ;
    margin: 15px 30px;
    color: #cdcdff;
    font-weight: 500;
    width: 180px;
    border: 1px solid #cdcdff;
    padding: 14px 0;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    transition: .2s linear;
}

.buttons a:hover{
    background-color: #cdcdff;
    color: #23283e;
}

@media screen and (max-width: 1020px) {
    .text{
        font-size: 3.9rem;
    }
    .aboute_text{
        font-size: 2.3rem;
    }
    .social{
        ul{
        top: 78%;
        }
    }
  }

  @media screen and (max-width: 765px) {
    .home{
        height: 550px;
    }
    .social ul {
        top: 70%;
    }
    .text{
        font-size: 3.4rem;
    }
    .aboute_text{
        font-size: 2rem;
    }
    .about_me{
        color: #f0f8ff;
    
        font-size: 1.2rem;
    }
    .fa {
        font-size: 35px;
    }
    .social ul li a {
        width: 45px;
        height: 45px;
        line-height: 1.6em;
    }
  }



  @media screen and (max-width: 390px) {
    .home{
        height: 550px;
    }
    .social ul {
        top: 72%;
    }

    .text{
        text-align: center;
    }

    .aboute_text{
        text-align: center;
        font-size: 1.5em;
    }
    .buttons{
        display: flex;
    }
  }

  @media screen and (max-height: 1030px){
    .home{
        height: 500px;
    }
    
    .social ul{
        top: 53%;
    }
  }

  @media screen and (max-height: 850px){
    .social ul{
        top: 63%;
    }
  }

  @media screen and (max-height: 670px){
    .home{
        height: 550px;
    }
    .social ul{
        top: 60%;
    }
  }
