.container{
    user-select: none;
}

.about_name {
    color: #90a0d9;
}

.home{
    display: flex;
    margin: 100px 0 60px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 4rem;
    color: #cdcdff;
}

.me_text{
    font-size: 1.5rem;
    color: rgba(205,205,255,255);
}

.aboute_text{
    font-size: 2.3rem;
    color: rgba(205,205,255,255);
}

.about_me{
    color: #cdcdff;

    font-size: 1.5rem;
}

/*Main menu buttons styles*/
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons a{
    display: inline-block ;
    margin: 15px 30px;
    color: #cdcdff;
    font-weight: 500;
    width: 180px;
    border: 1px solid #cdcdff;
    padding: 14px 0;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    transition: .3s linear;
}

.buttons a:hover{
    background-color: #cdcdff;
    color: #23283e;
}

@media screen and (max-width: 1020px) {
    .text{
        font-size: 3.9rem;
    }
    .aboute_text{
        font-size: 2.3rem;
    }
  }

  @media screen and (max-width: 765px) {
    .home{
        margin: 60px 0px 45px 0px;
    }

    .text{
        text-align: center;
    }

    .aboute_text{
        margin: 10px 0px 20px 0px;
    }
  }

  @media screen and (max-width: 390px) {
    .text{
        text-align: center;
    }

    .aboute_text{
        text-align: center;
        font-size: 1.5em;
    }
  }

  @media screen and (max-width: 290px) {
    .home{
        margin: 20px 0;
    }

    .buttons{
        a{
            margin: 15px 5px;
        }
    }
  }
