@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&d');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #23283e;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

//logo styles
.logo{
  color: #8193d8;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
}

//Navbar styles
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.nav_links{
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.nav_links{
  a{
    color: #cdcdff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
  }
  a:hover{
    color: #8193d8;
  }
}

//Burger styles
.burgerMenuButton {
  display: none;
  cursor: pointer;
}

.brgrMenuItems {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  position: absolute;
  top: 96.5px;
  
  background: #3a415e;

  width: 100vw;
  
  z-index: 1000;

  display: none;
}

.brgrMenuItems{
  a{
    color: #cdcdff;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 0;
  }
  a:hover{
    color: #8193d8;
  }
}

@media screen and (max-width: 1400px){
  .logo{
    font-size: 25px;
  }
  .nav_links{
    width: 40%;
  }
}

@media screen and (max-width: 1020px) {
  .nav_links{
    width: 40%;
  }

}

@media screen and (max-width: 768px) {
  .logo{
    font-size: 27px;
  }

  nav{
    color: black;
    background-color: #212536;
  }

  .burgerMenuButton {
    display: block;
    
    color: white;
  }

  .brgrMenuItems{
    font-weight: bold;

    display: block;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    position: absolute;
    top: 96.5px;
      
    background: #212536;
    
    width: 100vw;
      
    z-index: 1000;
    .brgrMenuItems{
      a{
        color: #cdcdff;
        text-decoration: none;
        font-size: 25px;
        padding: 10px 0;
      }
      a:hover{
        color: #8193d8;
      }
    }
  }

  .nav_links{
    display: none;
  }

}

@media screen and (max-width: 300px) {
    .logo{
      h4{
        font-size: 24px;
      }
    }

    .brgrMenuItems {
      top: 92.81px;
    }

    
}
